<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>{{ page.title }} | mujinote</title>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="./styles/fonts.css">
</head>
<body class="mujinote__ index_">

	<h1>시작하기</h1>
	<p>
		부담없이 끄적이면서 웹에 필요한 것들을 생각하고 만들고 정리하는 용도로 사용. 
		내가 편한 말투로 작성. 
	</p>

	<h2>포스트</h2>
	{{ content }}

	<h2>사이트</h2>
	<ul>
		<li><a href="http://mujinote.github.io/www/index.html">크로스브라우저 대응 시작하기 x mujinote</a></li>
	</ul>
	
	{{ site.time }}
	
</body>
</html>
